* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1c1c1c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 460px;
}

.display-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 0px;
    width: 430px;
    height: 125px;
}

.display {
    white-space: nowrap;
    font-size: 125px;
    font-weight: lighter;
    color: #fff;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.num-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.operator-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #505050;
    font-size: 50px;
    color: #fff
}

.clear-btn,
.backspace-btn {
    background: #d4d4d2;
    color: #000;
}

.zero-btn,
.backspace-btn {
    border-radius: 100px;
    width: 220px;
}

.operator-btn,
.equals-btn {
    background: #8c00ff;
}

.zero-btn {
    justify-content: start;
    padding-left: 35px;
}